
 
<nav class="navbar navbar-dark bg-secondary">
    <div class="container-fluid">
      <a routerLink='home' class="navbar-brand">Home</a>
      <h3 class="justify-text-center">NonRumo Software Solutions</h3> 
      <form class="d-flex">
        <div>
          <button  class="btn btn-success" type="submit" (click)="logIn()">LogIn</button>| 
        </div>
        <div>
          <button  class="btn btn-success" type="submit" (click)="signUp()">SignUp</button>
        </div>
      </form>
    </div>
</nav>

<div class="card">
  <div class="card-body">
    <h2 class="text text-md-center"><b>WELCOME</b></h2>
    <p>
      At NonRumo Software Solutions we develop innovative and creative products and services that provide total communication and information solutions. 
      Among other things we also offer a vast variety of services such as web design, development, tailor made applications, ERPs, CRMs, e-commerce solutions, business-to-business applications, business-to-client applications, managed hosting and internet portal management are few that we offer. 
      Satisfied clients around the globe bear testimony to the quality of our work. <br />
     
    </p>
    <p class="text text-md-center"> <b >Candidates needs to SignIn in order to write the electronic Quiz-Test.</b></p>
    
  </div>
</div>







 
  

  


