.card{
    padding-top: 20px;
}


.card-body{
    padding-top: 50px;
    background-position-x: 50% ;
    background-position-y: 50% ;
    position: absolute;
    text-align: justify;
    border-radius: 10px;
    box-shadow: grey;
    background: rgb(132, 155, 228);
}